*/__pycache__
__pycache__
.venv
venv
*.env
*/.env
**/.env
.env
.exe
.bin
*.bin
**.bin
.csv
*.csv
**.csv

# Fichiers temporaires
*.swp
*.swo
*~

# Les Paquets / archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
# *.zip

# Les Logs 
*.log.env

# Chroma DB
chroma_db/chroma.sqlite3